<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Times view:</strong>
  <%= @vehicle.times_view %>
</p>

<p>
  <strong>Pic url:</strong>
  <%= @vehicle.pic_url %>
</p>

<%= link_to 'Back', search_price_path(min: session[:min], max: session[:max]) %>
